/* Colors
    White: #F7F6F2
    Blue: #548DD8
    Red: #D85454
 --------------------- */

/* Global Styles
 --------------------- */
@font-face {
    font-family: 'Harlow Solid Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Harlow Solid Italic'), url('/fonts/HARLOWSI_1.woff') format('woff');
}
body {
    background-color: #F7F6F2;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    color: #548DD8;
    margin: 20px 0px 0px 0px;
    text-shadow: 2px 2px #3469AC;
}
.content-wrap {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 0px 0;
}
.item-info h2 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 2px dashed #F3FCF0;
    padding: 5px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}
.hidden {
    opacity: 0;
}

/* Navigation Bar
 --------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0px 3px 6px #C0C0C0;
}
.nav-links {
    display: flex;
    list-style: none;
}
.navbar #name {
    text-decoration: none;
    color: #548DD8;
    font-family: 'Harlow Solid Italic', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin-left: 16px;
}
.nav-item a {
    text-decoration: none;
    color: #548DD8;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 24px;
}
.nav-item a:hover {
    color: #3469AC;
}

/* Welcome Text
 ------------------------- */

.welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 100px;
    /*box-shadow: 0px 3px 3px #C0C0C0;*/
}
.wiggly {
    margin-right: 100px;
    margin-left: 100px;
    animation: fadein 2s;
}
.welcome img {
    margin-top: 24px;
    opacity: 0;
    animation: fadein 2s forwards;
    filter: drop-shadow(10px 10px 25px rgba(0, 0, 0, 0.2));
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Wiggly Text Animation
 ------------------------- */

.wiggly span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    font-style: italic;
    color: #D85454;
    text-shadow: 5px 5px #548DD8;
    animation: wiggle 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes wiggle {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(10px);
    }

    60% {
        transform: translateY(10px);
    }

    80% {
        transform: translateY(-10px);
    }
}
/* About Section
 ------------------------- */
.about-content {
    display: flex;
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 24px;
}
.about-content p {
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 20px;
}
.about-content a {
    text-decoration: none;
    color: black;
}
.about-content a:hover {
    color: #3469AC;
}

/* Work Section
 ------------------------- */
.work {
    padding-bottom: 30px;
}
.job-item {
    display: flex;
    margin-bottom: 40px;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 1s;
}
.job-item.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.work h1 {
    margin-bottom: 24px;
}
.work img {
    margin-right: 20px;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2));
}
.job-details {
    width: 25%;
    margin-left: 20px;
    margin-right: 50px;
}
.job-details h2 {
    color: #D85454;
    text-shadow: 1px 1px #B43C3C;
}
.job-details h2 {
    margin-bottom: 10px;
}
.job-details h2 + p {
    font-weight: bold;
    margin-bottom: 10px;
}
.job-summary {
    width: 45%;
}
/* Projects section
 -------------------------- */
.projects {
    margin-bottom: 60px;
}
.projects h2 {
    color: #D85454;
    text-shadow: 1px 1px #B43C3C;
}
.project-group {
    color: black;
    text-shadow: none;
}

/* Contact section
 -------------------------- */
footer {
    box-shadow: 0px -3px 6px #C0C0C0;
    padding-bottom: 20px;
}
footer h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-shadow: 2px 2px #3469AC;
}
footer ul {
    list-style: none;
}
footer li {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
footer a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #D85454;
    padding: 0px 0px 0px 10px;
}
footer a:hover {
    color: #B43C3C;
}
.contact-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Resume page rules
 --------------------------- */
.resume {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.resume iframe {
    width: 35%;
}
.resume-description {
    margin: 0px 20px 0px 0px;
    width: 55%;
}
.resume-description p {
    font-size: 20px;
}
.btn {
    background-color: #548DD8;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 20px;
}
.btn:hover {
    background-color: #3469AC;
    cursor: pointer;
}

/* Pixel art page rules
 --------------------------- */
.pixel-art {
    margin: 80px 20px;
}